---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Verano 2024">
  <main>
    <h2 class="text-center mt-20 presentation">La página no existe</h2>
    <div class="mt-20 flex justify-center max-w-[300px] mx-auto">
      <img src="./shark.png" alt="Imagen tiburón" />
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 35px;
    line-height: 1.6;
    min-height: 100vh;
  }

  .presentation {
    text-shadow: 2px 2px 3px #0005;
  }

</style>