---
import Layout from "../layouts/Layout.astro";
import DayPresentation from "../components/DayPresentation.astro";
import Events from "../components/Events.astro";

const tempRes = await fetch(
  "https://www.el-tiempo.net/api/json/v2/provincias/30/municipios/30902"
);
const temp = await tempRes.json();
const flagsRes = await fetch(
  "https://web-app.112rmurcia.com/copla-service/copla/BeachFlag?idmun=30016"
);
const flags = await flagsRes.json();

const user = {
  name: "Vicks",
  id: "asdad",
};
---

<Layout title="Verano 2024">
  <main>
    <div class="flex logo:justify-center">
      <img class="logo:max-w-[350px]" src="./logo.png" alt="Verano 2024" />
    </div>
    <div class="presentation">
      <DayPresentation {...{ temp, flags, user }} />
    </div>
    <div class="pt-5 mx-auto">
      <Events {...{ user }} />
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    min-height: 100vh;
  }

  .presentation {
    text-shadow: 2px 2px 3px #0005;
  }
</style>
