---
import type { DayEvents } from "../types";
import EventsSwiper from "./EventsSwiper";

interface Props {
  user: {
    name: string;
    id: string;
  };
  events: DayEvents[];
}

const { user, events } = Astro.props;

const daysEvents = events;
---

<h2 class="font-semibold text-center pb-5">Eventos</h2>
<div class="max-w-[450px] mx-auto pb-10 relative lg:max-w-full">
  <EventsSwiper client:load {...{ daysEvents, user }} />
</div>

<style>
  h2 {
    text-shadow: 4px 4px 5px #0005;
  }
</style>
