---
import EventsSwiper from "./EventsSwiper";

interface Props {
  user: {
    name: string;
    id: string;
  };
}

const daysEvents = [
  {
    day: 6,
    events: [
      {
        id: "123",
        startHour: "10",
        startMinute: "00",
        finishHour: "11",
        finishMinute: "00",
        title: "Desayuno",
        assistants: ["Jessi", "Vicks", "Alicia", "Emilio"],
        createdBy: 'Vicks'
      },
      {
        id: "122",
        startHour: "15",
        startMinute: "00",
        finishHour: "16",
        finishMinute: "00",
        title: "Comida",
        assistants: ["Jessi", "Vicks", "Alicia", "Emilio"],
        createdBy: 'Vicks'
      },
    ],
  },
  {
    day: 7,
    events: [
      {
        id:"1223",
        startHour: "10",
        startMinute: "00",
        finishHour: "11",
        finishMinute: "00",
        title: "Desayuno",
        assistants: ["Jessi", "Vicks", "Alicia", "Emilio"],
        createdBy: 'Vicks'
      },
    ],
  },
  {
    day: 8,
    events: [
      {
        id: "12123",
        startHour: "10",
        startMinute: "00",
        finishHour: "11",
        finishMinute: "00",
        title: "Desayuno",
        assistants: ["Jessi", "Vicks", "Alicia", "Emilio"],
        createdBy: 'Vicks'
      },
    ],
  },
];

const { user } = Astro.props;
---

<h2 class="font-semibold text-center pb-5">Eventos</h2>
<div class="max-w-[450px] mx-auto pb-10 relative lg:max-w-full">
  <EventsSwiper client:load {...{ daysEvents, user }} />
</div>

<style>
  h2 {
    text-shadow: 4px 4px 5px #0005;
  }
</style>
